{% extends 'post_list.html' %}
{% block title %}Выход{% endblock %}
{% block header %}
{% include 'include/header_auth.html' %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center ">
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <h1>Выход</h1>
        </div>
        <div class="p-2 bd-highlight">
            <p>Вы успешно вышли. Для авторизации <a href="{% url 'login' %}">войдите</a>.</p>
        </div>
    </div>
</div>
{% endblock %}